{% extends 'base.html.twig' %}

{% block body %}
    <h2>Create a Season</h2>
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button>Create !</button>
    {{ form_end(seasonForm) }}


{% endblock %}

